src/main/java/org/example/arboles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tipoArbol" type="tipoArbolType"/>
  <xs:complexType name="arbolType">
    <xs:sequence>
      <xs:element type="xs:string" name="nombreComun"/>
      <xs:element type="xs:string" name="nombreCientifico"/>
      <xs:element type="xs:string" name="vegetacion"/>
      <xs:element type="xs:string" name="altura"/>
      <xs:element type="xs:string" name="formaEstructura"/>
      <xs:element type="xs:string" name="colorEnPrimavera"/>
      <xs:element type="xs:string" name="colorEnOtono" minOccurs="0"/>
      <xs:element type="xs:string" name="resistenciaHeladas"/>
      <xs:element type="xs:string" name="tipoSuelo"/>
      <xs:element type="xs:string" name="exposicionLuz"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="tipoArbolType">
    <xs:sequence>
      <xs:element type="arbolType" name="arbol" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>